
/* HTML TAG CSS */



/* ClassName CSS */
.App {
  text-align: center;
  overflow: hidden;
}

.container {

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.pokemon-item {
  height: 200px;
  width: 200px;
  border-radius: 25%;
  background-color: rgb(234, 234, 234);
  border-width: 5px;
  margin: 60px;
  padding: 20px;
  outline-color: rgb(0, 0, 0);
  border-color: rgb(0, 0, 0);
}

.pokemon-item:hover {
  cursor: pointer;
  background-color: rgb(224, 224, 224);
  transition: background-color 0.3s;
}

.pokemon-item-title {
  margin-right: 10px;
}

.pokemon-img {
  transform: scale(1.5);
}

.App-items {
  min-height: 100px;
  width: 100%;
  margin: 40px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  
}

.App-header {
  background-color: #fe4848;
  min-height: 100px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: rgb(255, 255, 255);
  padding-left: 30px;
  box-shadow: 0 5px rgb(0, 0, 0);
}

.App-title {
  font-size: xx-large;
  text-shadow: 2px 1px rgb(0, 0, 0);

}

.App-title:hover {
  
  color: rgb(173, 77, 77);
  text-shadow: 2px 1px rgb(255, 255, 255);
  cursor: pointer;
  transition: all 0.3s ease-in-out, text-shadow 0.3s ease-in-out;
}

.App-title-links {
  font-size: x-large;
  text-shadow: 2px 1px rgb(0, 0, 0);
  margin-left: 100px;
  padding-left: 1px;
  display: flex;
  flex-wrap: row;
}

/* Tells all h1 tags that are in App-header to have this style. */
.App-header > h1 {
  /* box-shadow: 0 10px 90px rgb(0 0 0 / 0.2); */
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App-button {
  background-color: #5475b8;
  color: #fff;
  border: none;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  margin-top: 10px;
}

.App-button:hover {
  background-color: #3d62ab;
}

.App-button:disabled {
  background-color: #7494d6;
  cursor: default;
}

/* MODAL CSS */

.darkBG {
  background-color: rgba(0, 0, 0, 0.2);
  width: 100vw;
  height: 100vh;
  z-index: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal {
  width: 900px;
  height: 700px;
  background: white;
  color: white;
  z-index: 10;
  border-radius: 16px;
  box-shadow: 0 100px 20px 0 rgba(0, 0, 0, 0.04);
}

.modalHeader {
  height: 85px;
  background: rgba(0, 0, 0, 0.1);
  overflow: hidden;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.heading {
  margin: 0;
  padding: 10px;
  color: #2c3e50;
  font-weight: 500;
  font-size: 35px;
  text-align: center;
}

.modalImg {
  margin: 100px;
  transform: scale(3);
}

.modalContent {
  color: black;
  float: left;
  margin: 20px;
  font-size: 15px;
}

.modalItems {
  display: flex;
  align-content: space-around;
}

.modalActions {
  position: absolute;
  bottom: 2px;
  margin-bottom: 10px;
  width: 100%;
}

.actionsContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.closeBtn {
  cursor: pointer;
  font-weight: 500;
  padding: 4px 8px;
  border-radius: 8px;
  border: none;
  font-size: 18px;
  color: #2c3e50;
  background: white;
  transition: all 0.25s ease;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.06);
  position: absolute;
  right: 0;
  top: 0;
  align-self: flex-end;
  margin-top: -7px;
  margin-right: -7px;
}

.closeBtn:hover {
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.04);
  transform: translate(-4px, 4px);
}

.deleteBtn {
  margin-top: 10px;
  cursor: pointer;
  font-weight: 500;
  padding: 11px 28px;
  border-radius: 12px;
  font-size: 0.8rem;
  border: none;
  color: #fff;
  background: #ff3e4e;
  transition: all 0.25s ease;
}

.deleteBtn:hover {
  box-shadow: 0 10px 20px -10px rgba(255, 62, 78, 0.6);
  transform: translateY(-5px);
  background: #ff3e4e;
}

.okBtn {
  margin-top: 10px;
  cursor: pointer;
  font-weight: 500;
  padding: 11px 28px;
  border-radius: 12px;
  font-size: 0.8rem;
  border: solid;
  color: #2c3e50;
  background: #fcfcfc;
  transition: all 0.25s ease;
}

.okBtn:hover {
  box-shadow: none;
  transform: none;
  background: rgb(219, 219, 219);
}