.App {
  text-align: center;
  overflow: hidden;
}

.container {

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.pokemon-item {
  height: 200px;
  width: 200px;
  border-radius: 25%;
  background-color: rgb(234, 234, 234);
  border-width: 5px;
  margin: 60px;
  padding: 20px;
  outline-color: rgb(0, 0, 0);
  border-color: rgb(0, 0, 0);
}

.pokemon-item:hover {
  cursor: pointer;
  background-color: rgb(224, 224, 224);
  transition: background-color 0.3s;
}

.pokemon-item-title {
  margin-right: 10px;
}

.pokemon-img {
  transform: scale(1.5);
}

.App-items {
  min-height: 100px;
  width: 100%;
  margin: 40px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  
}

.App-header {
  background-color: #fe4848;
  min-height: 100px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: rgb(255, 255, 255);
  padding-left: 30px;
  box-shadow: 0 5px rgb(0, 0, 0);
}

.App-title {
  font-size: xx-large;
  text-shadow: 2px 1px rgb(0, 0, 0);

}

.App-title:hover {
  
  color: rgb(173, 77, 77);
  text-shadow: 2px 1px rgb(255, 255, 255);
  cursor: pointer;
  transition: color 0.3s ease-in-out, text-shadow 0.3s ease-in-out;
}

.App-title-links {
  font-size: x-large;
  text-shadow: 2px 1px rgb(0, 0, 0);
  margin-left: 100px;
  padding-left: 1px;
  display: flex;
  flex-wrap: row;
}

/* Tells all h1 tags that are in App-header to have this style. */
.App-header > h1 {
  /* box-shadow: 0 10px 90px rgb(0 0 0 / 0.2); */
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App-button {
  background-color: #5475b8;
  color: #fff;
  border: none;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  margin-top: 10px;
}

.App-button:hover {
  background-color: #3d62ab;
}

.App-button:disabled {
  background-color: #7494d6;
  cursor: default;
}